{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="page">

	{{!-- <main class="layout2__list">
		<nav class="nav__list">
			<div class="nav__button nav__button__inactive">База знань</div>
			<div class="nav__button">Інформація</div>
		</nav>

		<div class="layout2__content">
			<img class="layout2--img" src="/svg/layout2.svg" alt="Community Telegram">
			<h2 class="layout2--title">Що таке база знань?</h2>
			<p class="layout2--info">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в некоторой предметной области. В самообучающихся системах база знаний также содержит информацию, являющуюся результатом решения предыдущих задач.</p>
			<button class="layout2__button">Перейти до ком'юніті у Телеграм</button>
		</div>
		
	</main> --}}

</div>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}